@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lenis Recommended CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Custom selection color */
::selection {
  background-color: #050505;
  color: #FFFFFF;
}

/* Hide scrollbar for cleaner look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  font-family: 'Inter Tight', sans-serif;
  background-color: #FFFFFF;
  color: #050505;
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.dark {
  background-color: #050505;
  color: #FFFFFF;
}

.grid-lines {
  background-size: 8rem 8rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}

body.dark .grid-lines {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}

.reveal-item,
.reveal-text {
  will-change: transform, opacity, filter;
  backface-visibility: hidden;
}